body {
  background-color: #333;
  font-family: Arial, sans-serif;

}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

}

h1 {
  color: #007bff;
  text-shadow: black 1px 1px 1px;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  color: white;
  text-shadow: black  1px 2px 3px;
  text-align: center;
  padding-top: 250px;
  font-size: 50px;
}


.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  margin: 20px;`g
  width: 336px;
  height: 350px;
  border: 1px solid rgba(0,0,0,0.75);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  padding: 15px;
  background-color: grey;
}

.grid-box {
  background-color: #fff;
  border: 1px solid black;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-style: bold;
  text-shadow: #333 1px 2px 3px;
  color: red;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.grid-box.pop{
  text-shadow: black 3px 3px;
  font-size: 55px;
}

.restart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  text-shadow: blue 1px 1px 1px;
  border: 1px solid darkblue;
  border-radius: 8px;
  box-shadow: #333  1px 1px 1px;
  transition: transform 0.2s ease;
}

.restart-button:active{
  transform: scale(.95);
}

.message {
  color: #333;
  margin-top: 20px;
}
